<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <h1 style="height: 80vh" class="my-5 text-center">
      404.... page not found
    </h1>
    %> <%- include("./partials/footer.ejs") %>
  </body>
</html>
